/******************************************************************

Stylesheet: Stylesheet for Lightweight Columns plugin

******************************************************************/

/*@media only screen and (min-width: 768px) {*/

	div.fbg {
		align-items: start;
		display: flex;
		flex-wrap: wrap;
	}
	div.fbg > * {
		flex-grow: 1;
		padding: 12px;
	}

/*}*/

