/******************************************************************

Stylesheet: Stylesheet for Lightweight Columns plugin

******************************************************************/


@media only screen and (min-width: 768px) {

	/* Container for clearing things */
	
	div.columns {
		overflow: auto;
		width: 100%;
	}

	/* Flowing Three-Column layout */

	.threecolumns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
		-webkit-column-gap: 2em;
		-moz-column-gap: 2em;
		column-gap: 2em;
	}
	.threecolumns p:first-child {
		margin-top: 0;
	}

	/* Column sizes */

	.fourcol   { width: 30.75%; }
	.sixcol    { width: 48%; }
	.eightcol  { width: 65.4%; }

	.fourcol, .sixcol, .eightcol {
	  position: relative;
	  float: left;
	  margin-left: 3.762431%;
	}

	.first {
	  margin-left: 0;
	}

} /* end media query */

