/******************************************************************

Stylesheet: Stylesheet for Lightweight Columns plugin

******************************************************************/

div.mgc + div.mgc {
	margin-top: 2rem;
}

div.mgc > div + div {
	margin-top: 0.5em;
}

@media only screen and (min-width: 768px) {


	div.mgc {
		display: flex;
	}
	div.mgc > div {
		padding: 12px;
	}
	div.mgc > div + div  {
		margin-top: 0;
	}

}

